<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists">
  <ul data-controller="sortable" style="display: flex;">
    <% @lists.each do |list| %>
      <li data-sortable-update-url="<%= sort_list_path(list) %>" style="width: 400px; border:solid">
        <%= render list %>
      </li>
    <% end %>
  </ul>
</div>
